name: Deploy Static Site

on:
  repository_dispatch:
    types: [webhook_deploy]
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run Build Script
        run: node build.js
        env:
          WP_API_URL: ${{ secrets.WP_API_URL }}

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add www/ cache.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Automated build: add new pages" && git push)          

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./www

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4